/*
 * Copyright (C) 2014 Faraday, Inc. (www.faraday-tech.com)
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
 /dts-v1/;

/ {
	model = "tx5";
	compatible = "arm,faraday-soc";
	u-boot,dm-pre-reloc;
	interrupt-parent = <&gic>;
	#address-cells = <1>;
	#size-cells = <1>;
	
	aliases {
		serial0 = &uart0;
		spi0 = &spi0;
	};
	
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		
		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x000>;
			enable-method = "spin-table";
		};
		cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a53","arm,armv8";
			reg = <0x001>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x28030008>;
			cpu-magic-addr = <0x0 0x28030000>;
		};
		cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a53","arm,armv8";
			clock-frequency = <50000000>;
			reg = <0x002>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x28030008>;
			cpu-magic-addr = <0x0 0x28030000>;
		};
		cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a53","arm,armv8";
			clock-frequency = <50000000>;
			reg = <0x003>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x28030008>;
			cpu-magic-addr = <0x0 0x28030000>;
		};
	};
	
	memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0x10000000>;
	};
	
	gic: interrupt-controller@03000000 {
		compatible = "arm,gic-400", "arm,cortex-a15-gic";
		interrupt-controller;
		#interrupt-cells = <3>;
		#address-cells = <1>;
		reg = <0x03001000 0x1000>,
		      <0x03002000 0x1000>;
	};
	
	chosen {
		bootargs = "mem=256M console=ttyS0,115200";
		stdout-path = &uart0;
		tick-timer = &timer0;
	};
	
	timer0: timer@05100000 {
		compatible = "faraday,fttmr010-timer";
		reg = <0x05100000 0x1000>;
	};
	
	uart0: uart@0c600000 {
		compatible = "of_serial,ns16550_serial", "ns16550";
		clock-frequency = <30000000>;
		reg = <0x0c600000 0x1000>;
		reg-offset = <0>;
		reg-shift = <2>;
		reg-io-width = <4>;
		no-loopback-test;
	};
	
	sd0: sd@02200000 {
		compatible = "faraday,ftsdc021-sdhci";
		interrupt-parent = <&gic>;
		reg = <0x02200000 0x1000>;
		bus-width = <4>;
		status = "okay";
	};
	
	sd1: sd@02300000 {
		compatible = "faraday,ftsdc021-sdhci";
		interrupt-parent = <&gic>;
		reg = <0x02300000 0x1000>;
		bus-width = <4>;
		status = "disabled";
	};
	
	spi0: spi@03600000 {
		compatible = "faraday,ftspi020_spi";
		interrupt-parent = <&gic>;
		reg = <0x03600000 0x200>;
		num-cs = <4>;
		cs = <0>;
		max_hz = <20000000>;
		status = "okay";
		
		#address-cells = <1>;
		#size-cells = <0>;
		spi0_flash0: spi0_flash0@0 {
			compatible = "en25qh256";
			#address-cells = <1>;
			#size-cells = <1>;
			spi-max-frequency = <50000000>;
			reg = <0>;
			
			spi0_flash0@00000000 {
				label = "spi0_flash0";
				reg = <0x0 0x100000>;
			};
		};
	};
	
	i2c0: i2c@0ca00000 {
		compatible = "faraday,fti2c010-i2c";
		interrupt-parent = <&gic>;
		dev_id = <0>;
		reg = <0x0ca00000 0x1000>;
		clock-frequency = <400000>;
		status = "okay";
	};
	
	i2c1: i2c@0cb00000 {
		compatible = "faraday,fti2c010-i2c";
		interrupt-parent = <&gic>;
		dev_id = <1>;
		reg = <0x0cb00000 0x1000>;
		clock-frequency = <400000>;
		status = "okay";
	};
	
	i2c2: i2c@0cc00000 {
		compatible = "faraday,fti2c010-i2c";
		interrupt-parent = <&gic>;
		dev_id = <2>;
		reg = <0x0cc00000 0x1000>;
		clock-frequency = <400000>;
		status = "okay";
	};
	
	i2c3: i2c@0cd00000 {
		compatible = "faraday,fti2c010-i2c";
		interrupt-parent = <&gic>;
		dev_id = <3>;
		reg = <0x0cd00000 0x1000>;
		clock-frequency = <400000>;
		status = "okay";
	};
};
