/*
 * Copyright (C) 2014 Faraday, Inc. (www.faraday-tech.com)
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
 /dts-v1/;

#include <dt-bindings/interrupt-controller/arm-gic.h>

/  {
	model = "wideband001";
	compatible = "arm,faraday-soc";
	u-boot,dm-pre-reloc;
	interrupt-parent = <&gic>;
	#address-cells = <1>;
	#size-cells = <1>;
	
	aliases {
		serial0 = &uart0;
		spi0 = &spi0;
	};
	
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a9";
			reg = <0>;
		};
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x10000000>;
	};

	gic: interrupt-controller@3a001000 {
		compatible = "arm,cortex-a9-gic";
		interrupt-controller;
		#interrupt-cells = <3>;
		#address-cells = <1>;
		reg = <0x3a001000 0x1000>,
		      <0x3a000100 0x100>;
		interrupts = <GIC_PPI 9 0xf04>;
	};

	chosen {
		bootargs = "mem=256M console=ttyS0,115200";
		stdout-path = "serial0:115200n8";
		tick-timer = &timer0;
	};
	
	timer0: timer@04f00000 {
		compatible = "faraday,fttmr010-timer";
		reg = <0x04f00000 0x1000>;
		interrupts = <GIC_SPI 15 IRQ_TYPE_LEVEL_HIGH>;
	};

	uart0: uart@04700000 {
		compatible = "ns16550a";
		clock-frequency = <31250000>;
		reg = <0x04700000 0x1000>;
		reg-offset = <0>;
		reg-shift = <2>;
		reg-io-width = <4>;
		no-loopback-test;
		interrupts = <GIC_SPI 16 IRQ_TYPE_LEVEL_HIGH>;
	};

	pci0: pci@36400000 {
		compatible = "faraday,pci_ftpcie_cdng2";
		#address-cells = <2>;
		#size-cells = <1>;
		ranges = <0x02000000 0x0 0x11000000 0x10000000>;
		reg = <0x04100000 0x00001000>,
		      <0x10000000 0x02000000>,
		      <0x36400000 0x00001000>,
		      <0x05000000 0x00001000>,
		      <0x05100000 0x00001000>,
		      <0x05400000 0x00001000>,
		      <0x36100000 0x00040000>;
	};

	pci1: pci@36500000 {
		compatible = "faraday,pci_ftpcie_cdng2";
		#address-cells = <2>;
		#size-cells = <1>;
		ranges = <0x02000000 0x0 0x21000000 0x10000000>;
		reg = <0x04100000 0x00001000>,
		      <0x20000000 0x02000000>,
		      <0x36500000 0x00001000>,
		      <0x05800000 0x00001000>,
		      <0x05900000 0x00001000>,
		      <0x05c00000 0x00001000>,
		      <0x36200000 0x00040000>;
	};

	nand0: nand@08300000 {
		compatible = "ftnandc024";
		reg = <0x08300000 0x00200000>,
		      <0x08200000 0x00001000>;
		sel_ce = <0>;
		rac = <3>;
		cac = <2>;
		ecc_bits_dat = <4>;
		ecc_bits_oob = <1>;
		bi_reserve = <1>;
	};

	spi0: spi@08400000 {
		compatible = "faraday,ftspi020_spi";
		reg = <0x08400000 0x200>;
		num-cs = <4>;
		cs = <0>;
		max_hz = <20000000>;
		interrupts = <GIC_SPI 10 IRQ_TYPE_LEVEL_HIGH>;
		#address-cells = <1>;
		#size-cells = <0>;
		spi0_flash0: spi0_flash0@0 {
			compatible = "m25p80";
			#address-cells = <1>;
			#size-cells = <1>;
			spi-max-frequency = <50000000>;
			reg = <0>;
		};
	};

	usb0: usb@30000000 {
		compatible = "xhci-plat";
		reg = <0x30000000 0x10000>;
		interrupts = <GIC_SPI 23 IRQ_TYPE_LEVEL_HIGH>;
	};

	sd0: sd@08100000 {
		compatible = "faraday,ftsdc021-sdhci";
		reg = <0x08100000 0x1000>;
		interrupts = <GIC_SPI 9 IRQ_TYPE_LEVEL_HIGH>;
	};
};
